@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ff0000e5 1.84%, #ad61c0 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #00a8aa -13.86%, #4c1a57 99.55%);
  
  --color-bg: #fefefe;
  --color-footer : #f0f0f0;
  --color-blog: rgb(238, 153, 7);
  --color-text: #030404 ;
  --color-subtext: gray; 
  --color-back: #113e21;}